/* montserrat-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v31-latin/montserrat-v31-latin-regular.woff2') format('woff2'),
            url('../fonts/montserrat-v31-latin/montserrat-v31-latin-regular.ttf') format('woff2'),
}

/* montserrat-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/montserrat-v31-latin/montserrat-v31-latin-italic.woff2') format('woff2'),
        url('../fonts/montserrat-v31-latin/montserrat-v31-latin-italic.ttf') format('truetype');
}

/* montserrat-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v31-latin/montserrat-v31-latin-500.woff2') format('woff2'),
        url('../fonts/montserrat-v31-latin/montserrat-v31-latin-500.ttf') format('truetype');
}

/* montserrat-500italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/montserrat-v31-latin/montserrat-v31-latin-500italic.woff2') format('woff2'),
        url('../fonts/montserrat-v31-latin/montserrat-v31-latin-500italic.ttf') format('truetype');
}

/* montserrat-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v31-latin/montserrat-v31-latin-600.woff2') format('woff2'),
        url('../fonts/montserrat-v31-latin/montserrat-v31-latin-600.ttf') format('truetype');
}