body{
    font-family: "Montserrat",sans-serif;
    font-size: 21px;
    color: var(--main-black);
    font-weight: 500;
}
.wrapper{
    max-width: 1333px;
    margin: 0 auto;
    padding: 10px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p,ul,
li,a {
    padding: 0;
    margin: 0;
}
.visually-hiden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
a{
    color: inherit;
    text-decoration: none;
}
:hover{
    transition: all 0.3s ease-out;
}
button.button{
    color: var(--main-white);
    background-color: var(--main-green);
    border: 1px solid var(--main-green);
    padding: 22px 83px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 21px;
    width: max-content;
    cursor: pointer;
}
.button:hover{
    background-color: transparent;
    color: var(--main-green);
}
