.header{
    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 53px 0;
    }
    &__search-input{
        width: 322px;
        height: 63px;
        box-shadow: 0px 15px 50px 0px #2E839E12;
        border-radius: 10px;
        border: transparent;
        padding: 15px;
        position: relative;
    }
    &__logo{
        font-style: italic;
        font-weight: 400;
        font-size: 21px;
    }
    .color-main-green{
        color: var(--main-green);
    }
    &__buttons{
        display: flex;
        flex-direction: row;
        gap: 23px;
    }
    &__basket,
    &__auth{
       display: flex;
       flex-direction: row;
       align-items: center;
       gap: 15px; 
       padding: 15px 34px;
       background-color: transparent;
       border-radius: 30px;
       border: 1px solid var(--main-green);
       cursor: pointer;
        font-size: 16px;
        font-weight: 500;
            svg {
                fill: var(--main-green);
            }
    }

    &__auth{
        background-color: var(--main-green);
        color: var(--main-white);
        svg{
            fill: var(--main-white);
        }
    }
    &__auth:hover{
        background-color: transparent;
        border: 1px solid var(--main-green);
        color: var(--main-black);
        svg{
            fill: var(--main-green);
        }
    }

   
    &__basket:hover{
       background-color: var(--main-green);
       color:var(--main-white);
       svg{
        fill: var(--main-white);
       }
    }
    
    &__input{
        position: relative;
        // display: flex;
        // align-items: center;
       
        ::placeholder{
            font-size: 16px;
            color: #29293033;
        }
    }
    .search-button{
        position: absolute;
        content: "";       
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-green);
        border: none;
        width: 38px;
        height: 38px;
        border-radius: 5px;
        right: 18px;
        top: 12px;

        svg{
            fill: var(--main-white);
        }

        
    }
    .search-button:hover{
        background-color: transparent;
        border: 1px solid var(--main-green);
        svg{
            fill:var(--main-green)
        }
    }

    &__menu{
        background-color: var(--main-green);
        color: var(--main-white);
        padding: -10px;

        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 75px;
            font-size: 20px;
            font-weight: 600;
            padding: 28px 0;
        }

        a:hover{
            border-bottom: 1px solid var(--main-white);
        }
    }

}