.header{
    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 0;
        @media screen and (min-width:$bp-tablet) {
            padding: 53px 0;
            
        }
        align-items: center;
    }
    &__search-input{
        width: 165px;
        height: 65px;
        box-shadow: 0px 15px 50px 0px #2E839E12;
        border-radius: 10px;
        border: transparent;
        padding: 15px;
        position: relative;
        display: none;
        @media screen and (min-width:$bp-desktop) {
            width: 322px;
        }
        @media screen and (min-width:$bp-tablet) {
            display: block;
            // border: 1px solid var(--main-green);
        }
    }
    &__logo{
        font-style: italic;
        font-weight: 400;
        font-size: 15px;

        @media screen and(min-width:$bp-mobileL) {
            font-size: 21px;
        }
    }
    .color-main-green{
        color: var(--main-green);
    }
    &__buttons{
        display: flex;
        flex-direction: row;
        gap: 10px;
        @media screen and (min-width:$bp-tablet) {
            gap: 23px;
            
        }
    }
    &__basket,
    &__auth,
    &__search{
       display: flex;
       flex-direction: row;
       align-items: center;
       gap: 15px; 
       padding: 15px 15px;
       background-color: transparent;
       border-radius: 30px;
       border: 1px solid var(--main-green);
       cursor: pointer;
       font-size: 16px;
        font-weight: 500;
        // p{
        //     display: block;
        //     @media screen and (min-width:$bp-mobileL) {
        //             display: none;
        // }
        svg {  
            width: 12px;
            height: 12px;
            
            fill: var(--main-green);
            @media screen and (min-width:$bp-mobileL) {
                width: 24px;
                height: 24px;
                }
        }
        
        @media screen and (min-width:$bp-desktop) {
            padding: 15px 34px;
        }
    }
    &__search{
        display: flex;
        @media screen and (min-width:$bp-tablet) {
            display: none;  
        }
    }
        &__basket p,
        &__auth p{
            display: none;
            @media screen and (min-width:$bp-tablet) {
                display: block;
            }
        }

    &__auth{
        background-color: var(--main-green);
        color: var(--main-white);
        svg{
            fill: var(--main-white);
        }
    }
    &__auth:hover{
        background-color: transparent;
        border: 1px solid var(--main-green);
        color: var(--main-black);
        svg{
            fill: var(--main-green);
        }
    }

   
    &__basket:hover{
       background-color: var(--main-green);
       color:var(--main-white);
       svg{
        fill: var(--main-white);
       }
    }
    
    &__input{
        position: relative;
        // display: flex;
        // align-items: center;
       
        ::placeholder{
            font-size: 16px;
            color: #29293033;
        }
    }
    .search-button{
        position: absolute;
        content: "";       
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-green);
        border: none;
        width: 38px;
        height: 38px;
        border-radius: 5px;
        right: 10px;
        top: 12px;
        display: none;
        @media screen and(min-width:$bp-tablet) {
            display: block;
        }
        svg{
            fill: var(--main-white);
        }

        
    }
    .search-button:hover{
        background-color: transparent;
        border: 1px solid var(--main-green);
        svg{
            fill:var(--main-green)
        }
    }

    &__menu{
        background-color: var(--main-green);
        color: var(--main-white);
        padding: -10px;

        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
            font-size: 15px;
            font-weight: 600;
            padding: 28px 0;
            @media screen and (min-width:$bp-mobileM) {
                font-size: 18px;
                gap: 25px;
                
            }
            @media screen and (min-width:$bp-tablet) {
                font-size: 20px;
                gap: 75px;
                
            }
        }

        a:hover{
            border-bottom: 1px solid var(--main-white);
        }
    }

}