.hero-section{
    font-size: 16px;
    @media screen and (min-width: 768px) {
            font-size: 21px;
        }
    padding-top: 70px;

    &__container{
        display: flex;
        flex-direction: column;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
        // justify-content: space-between;
        align-items: center;
        @media screen and (min-width:$bp-desktop) {
            gap: 175px;
            flex-direction: row;
            
        }
    }

    h2{
        font-weight: 600;
        font-size: 64px;
        max-width: 595px;
    }
    &__title{
        div:first-child{
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-bottom: 50px;
            @media screen and (min-width:$bp-desktop) {
                margin-bottom: 100px;
                
                }

        }
        button{
            margin-top: 20px;
        }
    }
    &__text {
        max-width: 550px;
    }
    &__reviews{
        display: flex;
        flex-direction: row;
        gap: 5px;
        img{
            border-radius: 50%;
            width: 30px;
            height: 30px;
            @media screen and (min-width:$bp-tablet) {
                width: 60px;
                height: 60px;
                
            }
            object-fit: cover;
            margin-right: -20px;
            border: 2px solid var(--main-white);
        }
        .text-reviews{
            max-width: 100px;
            margin-left: 35px;
        }
    }

    &__propose{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        position: relative;
        gap: 63px;
        @media screen and (min-width:$bp-desktop) {
            flex-direction: row;
            gap: 15px;
            
            }
    }
    &__propose-img::after{
        position: absolute;
        content: "";
        width: 53px;
        height: 53px;
        background-image: url(../img/star.svg);
        background-repeat: no-repeat;
        top: 0;
        left: 0;
    }
    &__propose-img::before {
        position: absolute;
        content: "";
        width: 53px;
        height: 53px;
        background-image: url(../img/star.svg);
        background-repeat: no-repeat;
        bottom: 100px;
        right: -26px;
    }
    &__propose-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        img{
            width: 250px;
            height: 289px;
        }
        div{
            background-color: var(--card-bg-green);
            padding: 76px 4px;
            border-radius: 136px;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translate(20px, -140px);
        .price{
            padding-top: 25px;
            font-weight: 600;
            font-size: 31px;
            }
        }
    }
    &__play-video a{
        position: absolute;
        left: 85px;
        bottom: 50px;
        display: flex;
        flex-direction: column;
        z-index: 3;
        @media screen and (min-width:$bp-desktop) {
            left: -70px;
            bottom: 140px;
            
        }
    }
    
    
}