.trending-section{
    &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 55px;
        }
        
        
        h2 {
            font-weight: 600;
            font-size: 44px;
        }
    
    &__category {
        display: flex;
        gap: 54px;
        background-color: transparent;

        button {
            font-weight: 600;
            font-size: 26px;
            border: transparent;
            background-color: transparent;
            cursor: pointer;
            padding: 0;
            border-radius: 50%;

        }
    }
    
        .active-category {
            padding: 30px 25px;
            background-color: var(--main-green);
            border-radius: 50%;
            color: var(--main-white);
            align-items: center;
        }
    
        .discount {
            position: absolute;
            content: "";
            top: 13px;
            right: 19px;
            color: var(--main-white);
            padding: 28px 28px;
            font-weight: 600;
            font-size: 18px;
            border-radius: 50%;
            // background-color: var(--main-green);
            // max-width: 77px;
            text-align: center;
            display: flex;
            align-items: center;
        }

        &__items {
            padding-top: 38px;
            margin-left: 38px;
            // display: block;
            // gap: 93px;
        }
    
        &__item-info {
            display: flex;
    
            flex-direction: column;
            gap: 11px;
            background-color: var(--main-white);
            padding: 31px 70px 30px 52px;
            border-radius: 15px;
        }
    
        &__item {
    
            display: flex;
            flex-shrink: 1;
            flex-direction: column;
            align-items: center;
            gap: 30px;
    
            div img {
                max-width: 250px;
                max-height: 250px;
            }
        }
    
        &__item-bg {
            padding: 30px 21px 18px 21px;
            display: flex;
            flex-direction: column;
            align-items: center;
            // background-color: var(--card-bg-green);
            border-radius: 15px;
        }
    
        &__item:nth-child(3n+1) &__item-bg {
            background-color: var(--card-bg-green);
        }
    
        &__item:nth-child(3n+2) &__item-bg {
            background-color: var(--card-bg-blue);
        }
    
        &__item:nth-child(3n+3) &__item-bg {
            background-color: var(--card-bg-purple);
        }
    
        &__item:nth-child(3n+1) .discount {
            background-color: #10B981;
        }
    
        &__item:nth-child(3n+3) .discount {
            background-color: #845EC2;
        }
    
        .flex {
            display: flex;
            gap: 13px;
            align-items: center;
            padding-bottom: 15px;
        }
    
        &__item-quantity-reviews {
            font-size: 11px;
            color: var(--color-reviews);
        }
    
        .button {
            padding: 22px 119px;
        }
    
    
    
    .swiper-button-next {
        color: var(--main-green) !important;
    }
    
    .swiper-slide {
        flex-shrink: 1 !important;
        display: flex !important;
        flex-direction: column;
        gap: 20px;
    }
}