:root{
    --main-black:#2B2626;
    --main-green:#10B981;
    --main-white:#fff;
    --card-bg-green:#ECFEF4;
    --card-bg-blue:#C9F2FF;
    --card-bg-purple:#E5D5FF;
    --save-icon-purple:#845EC2;
    --save-icon-green:#08BDBE;
    --new-launches-bg:#845EC2;
    --color-reviews:#888;
    --black:#000;
    --yellow:#fff500;
    --red:#ff0000;
    --blue:#4484FF;
    

}

$bp-desktop:1024px;
$bp-tablet:768px;
$bp-mobileL:425px;
$bp-mobileM:375px;
$bp-mobileS:320px;